<html ng-app="song.ly">
	<head>
		<title>song.ly</title>
		<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}"/>
		<link href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
		<link href='https://fonts.googleapis.com/css?family=Roboto:300' rel='stylesheet' type='text/css'>
		<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}"/>
		<script src="{{ url_for('static', filename='js/libraries/jquery.min.js') }}"></script>
	</head>
	<body>
		<div class="container-fluid whole-container">
			<div class="container">
				<nav class="navbar navbar-default">
					<div class="container-fluid">
						<div class="navbar-header">
							<a class="navbar-brand" href="/">
								<img src="{{url_for('static', filename='images/songlylogo.png') }}" class="img-fluid img-rounded img-brand" alt="song.ly logo">
							</a>
						</div>
						<form class="navbar-form navbar-left" role="search" style="margin-left: 50px">
							<div class="form-group">
								<input type="text" class="form-control" placeholder="Search" />
							</div>
							<button type="submit" class="btn btn-primary">Find Song</button>
						</form>
						<ul class="nav navbar-nav navbar-right" style="margin: 15px;">
							<li><em class="user_name" style="text-transform: capitalize">{{detail.name}}</em></li>
						</ul>
					</div>
				</nav>
			</div>
			<div class="container suggestions">
				<div class="row songs_amazon">
					<p><span style="font-size: 25px;font-weight:bold;">Your friends are listening to</span></p>
				</div>
				<div class="row songs_friend" style="overflow-y:auto; max-width: 100%">
					<p><span style="font-size: 25px;font-weight:bold;">Suggested friends</span></p>
				</div>
				<div class="row local_artists">
					<p><span style="font-size: 25px;font-weight:bold;">Songs from local artists</span></p>
				</div>
			</div>
		</div>
	<script src="{{ url_for('static', filename='js/users/user_data.js') }}"></script>
	</body>
</html>