<html ng-app="song.ly">
	<head>
		<title>song.ly</title>
		<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}"/>
		<link href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
		<link href='https://fonts.googleapis.com/css?family=Roboto:300' rel='stylesheet' type='text/css'>
		<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}"/>
		<script src="{{ url_for('static', filename='js/libraries/jquery.min.js') }}"></script>
	</head>
	<body>
		<div class="container-fluid whole-container">
			<div class="container">
				<nav class="navbar navbar-default">
					<div class="container-fluid">
						<div class="navbar-header">
							<a class="navbar-brand" href="/">
								<img src="{{url_for('static', filename='images/songlylogo.png') }}" class="img-fluid img-rounded img-brand" alt="song.ly logo">
							</a>
						</div>
						<ul class="nav navbar-nav navbar-right" style="margin: 15px;">
							<li class="active"><a href="/">Presentation</a></li>
							<li><a href="/login">Demo</a></li>
						</ul>
					</div>
				</nav>
			</div>
			<div class="container" style="text-align: center;">
				<iframe src="https://docs.google.com/presentation/d/1opfUMf8ZWFn9CTB_Rmj8oylEKWeY9_GRSWx91qVSpZw/embed?start=false&loop=false&delayms=60000" frameborder="0" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
			</div>
		</div>
	</body>
</html>